.sidebartext {
  padding: 0 1.618em;
  margin: 12px 0 0 0;
}
.sidebartext a {
  display: inline;
  padding: 0;
}
.sidebartext h3 {
  color: #3a7ca8;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 85%;
  white-space: nowrap;
  font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}
